# Maven
target/
*.log
*.tmp
*.swp
!mvnw
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.iws

# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

# Logs
*.log
logs/

# Sistema Operacional
.DS_Store
Thumbs.db

# Arquivos de configuração sensíveis
.env
application-*.properties
